.container, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    background-color: white;

}
.input_name{
    background-color: #4F81BD;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 100px;
    height: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline;
    border: 2px solid #41719C;
}
.entering {
    color: blue;
    padding: 5px;
    border-radius: 0px;
    width: 150px;
    height: 25px;
    display: inline-block;
    margin: 5px 20px;
    border: 2px solid #41719C;
}
form {
    display: flex;
    padding-left: 20px;
}

.button-container {
    color: white;
    cursor: pointer ;

}
#nonsubmitButton{
    width: 120px;
    height: 38px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
}
#submitButton{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
    position: relative;
    left: 90px;
    top: 55px;
}
.tittle{
    position: relative;
    right: 90px;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    font-weight: bold;
}

#tableButton{
    padding: 5px 5px;
    margin: 5px;
    width: 60px;
    background-color: #92B1D6;
    border: 3px solid #4F729D;
}
table th, table td {
    border: none; 
}
th:not(:first-child),
th:not(:first-child) {
    margin-left: 2px; 
}

th:nth-child(3) {
    margin-right: 20px;
}
