body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#errorMessage {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-element {
    margin-bottom: 20px;
}

.input_name {
    font-weight: bold;
}

.required {
    color: red;
}

.entering,
.date_input,
.input_address,
.fileToUpload,
.choose-falcuty {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.choose_gender {
    display: flex;
}

.input_gen {
    margin-top: 10px;
}

.button-submit {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}