.container, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    background-color: white;
}

.container {
    width: 600px;
    border: 1px solid blue;
    color: blue;
    margin: 200px auto;
}

.input_name {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 100px;
    height: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline-block;
}

.entering {
    color: blue;
    padding: 5px;
    border-radius: 0px;
    width: 400px;
    height: 25px;
    display: inline-block;
    margin: 5px 20px;
}

.fileToUpload {
    padding: 5px;
    border-radius: 0px;
    width: 400px;
    height: 25px;
    display: inline-block;
    margin: 5px 20px;
}

.input_gen {
    margin-bottom: 24px;
}

.choose_gender {
    color: black;
    padding-left: 10px;
    margin-left: 5px;
    font-size: 20px;
    display: inline-block;
}

.input_falcuty {
    margin-bottom: 24px;
}

.choose-falcuty {
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 200px;
    height: 45px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.button-container {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer ;
    border: none;
}

.choose_gender label {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
}

.required {
    color: red;
}

.date_of_birth {
    margin-bottom: 24px;
}

.date_input {
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 190px;
    height: 34px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.input_address {
    border-radius: 0px;
    width: 180px;
    height: 100px;
    resize: vertical;
    padding-top: 0px;
    padding-bottom: 85px;
    display: inline-block;
    margin-left: 20px;
    padding-right: 222px;
    margin-top: 5px;
}

form {
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
}

#errorMessage {
    display: none;
    color: red;
    text-align: left; 
    padding-right: 400px;
}